<div>
  <%= flash[:notice] %>
</div>

<div class='container px-5 px-sm-0'>
	<div class='row'>
    <%= render 'layouts/sidebar', book: @book, user: @user %>
		<div class='col-md-8 offset-md-1'>
    <h2>Book detail</h2>
      <table class='table'>
        <tbody>
          <tr>
          <% #@book.each do |book| %>
            <td>
              <span>
                <%= image_tag @book_id.user.get_profile_image(100,100) %><br>
                <%= link_to @book_id.user.name, user_path(@book_id.user.id) %>
              </span>
            </td>
            <td>
              <span>
                <%= link_to book_path(@book_id.id) do %>
                  <%= @book_id.title %>
                <% end %>
              </span>
            </td>
            <td>
              <span><%= @book_id.body %></span>
            </td>
            <% if @user == current_user %>
              <td>
                <%= link_to "Edit", edit_book_path(@book_id.id) , class:"btn btn-sm btn-success" %>
              </td>
              <td>
                <span><%= link_to "Destroy", book_path(@book_id.id), method: :delete, class:"btn btn-sm btn-danger" %><span>
              </td>
            <% end %>
          <%# end %>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>