<div>
  <%= flash[:notice] %>
</div>

<div class='container px-5 px-sm-0'>
	<div class='row'>
    <%= render 'layouts/sidebar', book: @book, user: @user %>
		<div class='col-md-8 offset-md-1'>
    <h2>Books</h2>
      <table class='table'>
        <tbody>
          <tr>
          <% @books.each do |book| %>
            <td>
              <>
                <%= image_tag user.get_profile_image(100, 100)  %><br>
                <%= link_to "user.name" user_path(user.id) %>
              </span>
            </td>
            <td>
              <span><%= book.title %></span>
            </td>
            <!-- タイトル→showへのリンク -->
            <td>
              <span><%= book.body %></span>
            </td>
            <td>
              <%= link_to "Edit", edit_book_path(book.id) , class="btn btn-sm btn-success" do%>
            </td>
            <!-- edit -->
            <td>
              <span><%= link_to "Destroy", book_path(book.id), method: :delete, class="btn btn-sm btn-danger" %><span>
            </td>
            <!-- delete -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>